@use 'base/variables' as v;
@use 'base/mixins' as m;


.pokemon-container {
    @include m.grid(3, 2rem)
}

.tarjeta {
    background-color: v.$blanco;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin: 1rem 0;

    &-fondo {
        width: 100%;
        display: block;
    }

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-imagen {
            border: 10px solid v.$azul;
            width: 40%;
            border-radius: 50%;
            margin-top: -70px;
            background-color: v.$blanco;
        }
    }

    &-titulo {
        font-size: 2.5rem;
    }

    &-tipo-pokemon {
        background-color: v.$azul;
        border-radius: 25px;
        padding: 0 1.5rem;
        color: v.$blanco;
        margin-top: -10px;
    }

    &-footer {
        display: flex;
        justify-content: space-around;
        
        &-habilidad,
        &-experiencia {
            text-align: center;
            margin-top: -20px;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 0px;
                font-weight: v.$bold;
            }
    
            p {
                font-size: 1.5rem;
                margin-top: -3px;
            }
        }

    }
}

